{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- <div class="flex justify-center items-center h-screen">
<img src="{% static 'img/flagsba+.png' %}" class="bg-cover bg-center h-full" style="background-image: url('img/flagsba+.png');">
</div> -->
<body class="aboutus">

    {% comment %} <img src="{% static 'img/test5.png' %}" class="bg-cover bg-center w-screen"> {% endcomment %}
    <div class="bg-cover bg-center w-full h-screen" style="background-image: url('{% static 'img/test5.png' %}')"></div>

</body>
{% endblock content %}
