{% load static tailwind_tags %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% comment %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% endcomment %} {% comment %} <link rel="stylesheet" href="{% static
    "css/output.css" %}"> {% endcomment %} {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
    </style>
    {% include 'includes/header.html' %}
  </head>
  <body class="body-base">

    <main>{% block content %}{% endblock content %}</main>

    <script src="{% static 'js/main.js'%}"></script>
  </body>
</html>
