h1 {
    color: red;
}

h2 {
    color: rgb(0, 46, 109);
}

.bg-sba-grey {
    background-color: rgb(104, 104, 104);
}

.text-sba-grey {
    color: rgb(104, 104, 104);
}

.bg-sba-blue {
    background-color: rgb(0, 89, 153);
}

.text-sba-blue {
    color: rgb(0, 89, 153);
}

.bg-sba-dark-blue {
    background-color: rgb(0, 46, 109);
}

.text-sba-dark-blue {
    color: rgb(0, 46, 109);
}

.bg-sba-black {
    background-color: rgb(27, 30, 41);
}

.text-sba-black {
    color: rgb(27, 30, 41);
}

.bg-sba-blacker {
    background-color: rgb(27, 27, 27);
}

.text-sba-blacker {
    color: rgb(27, 27, 27);
}

.source-sans-3-400 {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-600 {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }


.aboutus {
    max-height: 93vh;
}